<!DOCTYPE html>
<html lang="en" ng-app="eKassa">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>E-kassa</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:500,900,400italic,300,700,500italic,400&amp;subset=latin,cyrillic,cyrillic-ext" rel="stylesheet" type="text/css">
  <link rel="shortcut icon" href="../../data/img/logo.png">
  <link rel="stylesheet" href="../../data/css/style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.min.js"></script>
  <script src="../../data/js/controllers.js"></script>
</head>
<body>
  <div class="title-onHover"></div>
  <div class="sidebar" id="sidebar">
    <div class="accordion-container">
      <div class="set">
        <a href="#">
          <img src="../../data/img/line-graph.svg" alt="items"> <span class="tooltip"> Reports </span>
          <i class="sort-down1"></i>
        </a>
        <div class="content">
          <ul>
            <li><a href="../../index.html">Sales summary</a></li>
            <li><a href="">Sales by item</a></li>
            <li><a href="">Sales by category</a></li>
            <li><a href="">Sales by employee</a></li>
            <li><a href="">Sales by payment type</a></li>
            <li><a href="">Receipts</a></li>
            <li><a href="">Sales by modifier</a></li>
            <li><a href="">Discounts</a></li>
            <li><a href="">Taxes</a></li>
          </ul> 
        </div>
      </div>
      <div class="set">
        <a href="#">
          <img src="../../data/img/shopping-bag.svg" alt="items"> <span> Items </span>
          <i class="sort-down1"></i>
        </a>
        <div class="content">
          <ul>
            <li><a href="item-list.html">Item list</a></li>
            <li><a href="">Categories</a></li>
            <li><a href="">Modifiers</a></li>
            <li><a href="">Discounts</a></li>
          </ul>   
        </div>
      </div>
      <div class="set">
        <a href="">
          <img src="../../data/img/inventory.svg" alt="items"><span> Inventory management </span>
        </a>
      </div>
      <div class="set">
        <a href="#">
          <img src="../../data/img/id-card.svg" alt="items"> <span> Employees </span>
          <i class="sort-down1"></i>
        </a>
        <div class="content">
          <ul>
            <li><a href="">Employee list</a></li>
            <li><a href="">Access rights</a></li>
          </ul>
        </div>
      </div>
      <div class="set">
        <a href="#">
          <img src="../../data/img/group.svg" alt="items"><span> Customers </span>
        </a>
      </div>
      <div class="set">
        <a href="../settings.html">
          <img src="../../data/img/settings-gears.svg" alt="items"><span> Settings </span>
        </a>
      </div>
    </div>

  
  </div>
  <div class="topnav">
    <div class="menu-btn">
      <button type="button" id="menu">
      </button>
    </div>
    <h2 class="main-title"><a href="../../index.html">E-Kassa</a></h2>
    <div class="dropdown">
      <button onclick="myFunction()" class="dropbtn">Sardor Allaberganov </button>
      <div id="myDropdown" class="dropdown-content">
        <button type="submit">Sign out</button>
      </div>
    </div>
  </div>
  
  <div class="main" ng-controller="itemController">
    <div class="container">
      <div class="item-list">
        <div class="row">
          <div class="cols-2" ng-show="!searchBarShow">
            <button class="search-btn" ng-click="searchBarShow = !searchBarShow">
              <img src="../../data/img/search-solid.svg" alt="">
            </button>
            <ul class="top-btns">
              <li class="addItem"><button class="addItemBtn">+ Add item</button></li>
              <li><button onclick="window.location.href='import.html'">import</button></li>
              <li><button>export</button></li>
            </ul>
            <ul class="top-drops">
              <li>
                <span>Stock alert</span>
                <select name="" id="stock_alert">
                  <option value="">All items</option>
                </select>
              </li>
              <li>
                <span>Category</span>
                <div>
                    <select data-ng-model="categoryItems"  data-ng-options="item for item in categories" required="required">
                      <option value="" data-ng-click="resetDropDown()">All items</option>
                    </select>
                </div>
              </li>
            </ul>
          </div>
          <div class="search-Bar" ng-show="searchBarShow">
            <button class="search-back" ng-click="searchBarShow = !searchBarShow"></button>
            <input type="text" placeholder="Search" ng-model="searchItem">
            <button class="search-icon">
            </button>
          </div>
        </div>
        <div class="row" style="margin-top: 40px">
          <div class="drpdwnElement">
            <ul>
              <li class="title">Categories</li>
              <li ng-repeat="item in items | unique :'category'"><button>{{ item.category }}</button></li>
            </ul>
          </div>
          <div style="overflow-x: auto">
            <table class="item-list-table">
              <tr class="table-title">
                <th style="width: 40px"><input type="checkbox"  ng-click="toggleAll()" ng-model="isAllSelected"></th>
                <th ng-click="orderByClick('name')">Item name</th>
                <th ng-click="orderByClick('category')" ng-model="category">Category</th>
                <th ng-click="orderByClick('price')" class="table-number-header-width">Price</th>
                <th ng-click="orderByClick('cost')" class="table-number-header-width">Cost</th>
                <th class="table-number-header-width">Margin</th>
                <th ng-click="orderByClick('inStock')" class="table-number-header-width">In stock</th>
              </tr>
              <tr ng-repeat="item in items | orderBy : myOrderBy |filter: searchItem | filter : categoryItems" >
                <td style="width: 40px"><input type="checkbox" ng-model="item.selected" ng-change="optionToggled()"></td>
                <td>{{ item.name }}</td>
                <td>
                  <button class="categoryBtn">{{item.category}}</button>
  
                  <!-- <select  ng-model="selectedItem" ng-init="selectedItem = item.id">
                    <option ng-repeat="item in items | unique: 'category'" ng-value="{{selectedItem = item.id}}">{{item.category}}</option>
                  </select> -->
  
                  
                </td>
                <td class="table-number-header-width">{{ item.price }}</td>
                <td class="table-number-header-width">{{ item.cost }}</td>
                <td class="table-number-header-width"> - </td>
                <td class="table-number-header-width">{{ item.inStock }}</td>
              </tr>
            </table>
          </div>
          <div class="row">
            <div class="pagination">
              <ul>
                <li>
                  <button>
                  </button>
                  <button>
                  </button>
                </li>
                <li>
                  <p> <span>Page: </span> <input type="text" value="1"> of <span>1</span> </p>
                </li>
                <li>
                  <span class="rowPerPage">Rows per page: 
                    <select name="" id="">
                      <option value="">10</option>
                      <option value="">25</option>
                      <option value="">50</option>
                      <option value="">100</option>
                    </select>
                  </span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="../../data/js/index.js"></script>
</body>
</html>