* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.show {
  width: 300px !important;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.sidebar {
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-transition: all .3s;
  transition: all .3s;
  top: 50px;
  height: calc(100vh - 50px);
  width: 50px;
  position: fixed;
  text-align: center;
  z-index: 9999;
  margin-left: 0px;
  background: -webkit-gradient(linear, left top, left bottom, from(#43A047), to(#76D275));
  background: linear-gradient(#43A047, #76D275);
  float: left;
}

.sidebar ul {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar ul li {
  width: 300px;
  text-align: left;
  display: block;
}

.sidebar ul li img {
  width: 25px;
  height: 25px;
  margin: 11px;
}

.sidebar ul #menu {
  text-align: left;
  -webkit-transition: all .3s;
  transition: all .3s;
  outline: none;
  width: 300px;
  height: 50px;
  margin: 0;
  padding: 10px;
  background: none;
  border: none;
}

.sidebar::-webkit-scrollbar, .sidebar::-webkit-scrollbar-track {
  width: 0px;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

.accordion-container {
  position: relative;
  width: 300px;
  height: auto;
}

.set {
  position: relative;
  width: 100%;
  text-align: left;
  height: auto;
}

.set img {
  width: 50px;
  padding: 10px;
}

.set span {
  width: 200px;
  position: absolute;
  margin: 18px 20px 0 20px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.set a {
  display: block;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  position: relative;
}

.set a i {
  position: absolute;
  top: 45%;
  right: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.set a .sort-down1::after {
  font-style: normal;
  content: '\25B4';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.set a .sort-up1::after {
  font-style: normal;
  content: "\25BE";
  color: #fff;
}

.active1 {
  background: #00701A;
}

.title-onHover {
  position: absolute;
  z-index: 9999;
  display: none;
  background: #43A047;
  padding: 5px 10px;
  color: #fff;
  font-size: 12px;
  border-radius: 10px;
}

.content {
  background-color: #fff;
  display: none;
}

.content a {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: #43A047;
  padding: 8px 16px 8px 80px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.content a:hover {
  background: #ddd;
}

.main {
  width: 100%;
  -webkit-transition: all .3s;
  transition: all .3s;
  height: 100%;
  overflow: auto;
  width: calc(100% - 50px);
  float: left;
}

.main .topnav {
  top: 0;
  padding: 6px;
  position: fixed;
  width: 100%;
  height: 50px;
  background: -webkit-gradient(linear, left top, right top, from(#43A047), to(#76D275));
  background: linear-gradient(to right, #43A047, #76D275);
}

.main .topnav .menu-btn {
  width: 50px;
  height: 50px;
  left: 0;
  position: absolute;
  top: 0;
}

.main .topnav .menu-btn button {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background: url(../img/menu-btn.svg);
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
}

.main .topnav h2 {
  margin: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  font-weight: bold;
}

.dropbtn {
  color: white;
  font-size: 16px;
  border: none;
  padding: 13px 0px 10px 40px;
  cursor: pointer;
  outline: none;
  background: url(../img/user.svg);
  background-size: 35px;
  background-position: 0px 5px;
  background-repeat: no-repeat;
}

.dropbtn::after {
  content: "\2B9F";
}

.dropdown {
  top: 0;
  height: 100%;
  z-index: 99999;
  position: absolute;
  right: 15px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  overflow: auto;
  float: left;
  right: 0px;
  top: 52px;
  width: 150px;
  -webkit-box-shadow: 0px 0px 10px #bbb;
          box-shadow: 0px 0px 10px #bbb;
  z-index: 1;
}

.dropdown-content button {
  height: 100%;
  width: 100%;
  padding: 15px;
  border: none;
  background: none;
  font-size: 16px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show1 {
  display: block;
}

@media only screen and (max-width: 768px) {
  .sidebar {
    width: 0;
  }
  .dropbtn {
    text-indent: -9999em;
    padding: 10px 0;
    background-position: center 5px;
    width: 40px;
  }
}
/*# sourceMappingURL=style.css.map */