@import url("https://fonts.googleapis.com/css?family=Roboto");
.fileinput-button p.infoText, #output {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none !important;
}

html, body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.show {
  width: 300px !important;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.sidebar {
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-transition: all .3s;
  transition: all .3s;
  top: 50px;
  height: calc(100vh - 50px);
  width: 50px;
  position: fixed;
  text-align: center;
  z-index: 9999;
  margin-left: 0px;
  background: -webkit-gradient(linear, left top, left bottom, from(#43A047), to(#76D275));
  background: linear-gradient(#43A047, #76D275);
  float: left;
}

.sidebar ul {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar ul li {
  width: 300px;
  text-align: left;
  display: block;
}

.sidebar ul li img {
  width: 25px;
  height: 25px;
  margin: 11px;
}

.sidebar ul #menu {
  text-align: left;
  -webkit-transition: all .3s;
  transition: all .3s;
  outline: none;
  width: 300px;
  height: 50px;
  margin: 0;
  padding: 10px;
  background: none;
  border: none;
}

.sidebar::-webkit-scrollbar, .sidebar::-webkit-scrollbar-track {
  width: 0px;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

.indexMain {
  -webkit-transition: all .3s;
  transition: all .3s;
  height: 100%;
  width: calc(100% - 90px);
  margin: 70px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px #ddd;
          box-shadow: 0 0 10px #ddd;
  position: relative;
}

#myChart {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.accordion-container {
  position: relative;
  width: 300px;
  height: auto;
}

.set {
  position: relative;
  width: 100%;
  text-align: left;
  height: auto;
}

.set img {
  width: 50px;
  padding: 10px;
}

.set span {
  width: 200px;
  position: absolute;
  margin: 18px 20px 0 20px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.set a {
  display: block;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  position: relative;
}

.set a i {
  position: absolute;
  top: 45%;
  right: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.set a .sort-down1::after {
  font-style: normal;
  content: '\25B4';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.set a .sort-up1::after {
  font-style: normal;
  content: "\25BE";
  color: #fff;
}

.active1 {
  background: #00701A;
}

.title-onHover {
  position: absolute;
  z-index: 9999;
  display: none;
  background: #43A047;
  padding: 5px 10px;
  color: #fff;
  font-size: 12px;
  border-radius: 10px;
}

.onClickMenu {
  position: absolute;
  z-index: 99999;
  display: none;
}

.fileinput-button {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 150px;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.glyphicon-plus:before {
  content: "\2b";
}

.btn-success {
  -webkit-transition: all .3s;
  transition: all .3s;
  color: #fff;
  font-weight: bold;
  text-align: center;
  padding: 1em 15em;
  margin: 10px 0px 0px 0px;
  color: #333;
  border: 2px solid transparent;
  border-radius: 3px;
  margin-bottom: 20px;
  background: #EEEEEE;
}

.btn-success:hover {
  border: 2px solid #ddd;
  background: #ddd;
}

.fileinput-button p.infoText {
  margin: 0;
}

.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 200px;
  direction: ltr;
  cursor: pointer;
}

#output {
  z-index: 999;
}

.dragAndDrop[type='file'] {
  border: 3px dashed #999;
  padding: 140px 50px 10px 50px;
  cursor: move;
  width: 100%;
  position: relative;
}

.dragAndDrop[type='file']:before {
  content: "drag & drop your files here";
  display: block;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 40px;
  margin: -25px 0 0 -100px;
  font-size: 18px;
  font-weight: bold;
  color: #999;
}

.content {
  background-color: #fff;
  display: none;
}

.content a {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: #43A047;
  padding: 8px 16px 8px 80px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.content a:hover {
  background: #ddd;
}

.content1 {
  background: #fff;
  display: block;
  -webkit-box-shadow: 0 0 10px #999;
          box-shadow: 0 0 10px #999;
}

.content1 ul {
  padding: 0;
  list-style: none;
}

.content1 ul li {
  padding: 5px 10px;
}

.content1 ul li:hover {
  background: #ddd;
}

.content1 a {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: #43A047;
  padding: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.main {
  width: 100%;
  -webkit-transition: all .3s;
  transition: all .3s;
  height: 100%;
  overflow: auto;
  width: calc(100% - 50px);
  float: right;
}

.topnav {
  z-index: 99999;
  top: 0;
  padding: 6px;
  position: fixed;
  width: 100%;
  height: 50px;
  background: -webkit-gradient(linear, left top, right top, from(#43A047), to(#76D275));
  background: linear-gradient(to right, #43A047, #76D275);
}

.topnav .menu-btn {
  width: 50px;
  height: 50px;
  left: 0;
  position: absolute;
  top: 0;
}

.topnav .menu-btn button {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background: url(../img/menu-btn.svg);
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
}

.topnav h2 {
  margin: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-weight: bold;
}

.topnav h2 a {
  color: #fff;
}

.dropbtn {
  color: white;
  font-size: 16px;
  border: none;
  padding: 13px 0px 10px 40px;
  cursor: pointer;
  outline: none;
  background: url(../img/user.svg);
  background-size: 35px;
  background-position: 0px 5px;
  background-repeat: no-repeat;
}

.dropbtn::after {
  content: "\2B9F";
}

.dropdown {
  top: 0;
  height: 100%;
  z-index: 99999;
  position: absolute;
  right: 15px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  overflow: auto;
  float: left;
  right: 0px;
  top: 52px;
  width: 150px;
  -webkit-box-shadow: 0px 0px 10px #bbb;
          box-shadow: 0px 0px 10px #bbb;
  z-index: 1;
}

.dropdown-content button {
  height: 100%;
  width: 100%;
  padding: 15px;
  border: none;
  background: none;
  font-size: 16px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show1 {
  display: block;
}

.container {
  -webkit-box-shadow: 0 0 8px #bbb;
          box-shadow: 0 0 8px #bbb;
  margin: 80px 40px;
  padding: 20px;
  border-radius: 3px;
}

.item-list {
  position: relative;
}

.item-list .cols-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.item-list .top-btns, .item-list .top-drops {
  list-style: none;
}

.item-list .top-btns li, .item-list .top-drops li {
  display: inline;
  margin: 5px;
}

.item-list .top-btns li button:not(.addItemBtn), .item-list .top-drops li button:not(.addItemBtn) {
  display: inline-block;
  font-size: 14px;
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: bold;
  color: #333333;
  border: none;
  border-radius: 3px;
  background: none;
  font-family: 'Roboto', sans-serif;
}

.item-list .addItemBtn {
  display: inline-block;
  font-size: 14px;
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  border: none;
  border-radius: 3px;
  background: #43A047;
  font-family: 'Roboto', sans-serif;
}

.item-list .top-drops {
  padding: 0;
  margin: 0 60px 0 0;
}

.item-list .top-drops li {
  padding: 0 10px;
  float: right;
}

.item-list .top-drops li span {
  display: block;
  font-size: 12px;
  padding: 0 3px;
  color: #999999;
  font-weight: 400;
  line-height: 20px;
  margin: 7px 0 2px;
  font-family: 'roboto', sans-serif;
}

.item-list .top-drops li select {
  min-width: 180px;
  border: none;
  font-size: 14px;
  padding: 5px 0;
  outline: none;
  border-bottom: 1px solid #999;
}

.item-list .search-btn {
  position: absolute;
  right: 5px;
  background: none;
  top: 25px;
  outline: none;
  cursor: pointer;
  border: none !important;
}

.item-list .search-btn img {
  width: 20px;
}

.item-list hr {
  border: 0.5px solid #ddd;
  margin: 30px 0;
}

.item-list .search-Bar {
  -webkit-box-shadow: 0 0 8px #ddd;
          box-shadow: 0 0 8px #ddd;
  border-radius: 5px;
  height: 45px;
}

.item-list .search-Bar button, .item-list .search-Bar input {
  float: left;
  height: 45px;
  border: none;
  outline: none;
}

.item-list .search-Bar input {
  margin: 0;
  padding: 5px 10px;
  font-size: 14px;
  width: calc(100% - 90px);
}

.item-list .search-Bar button.search-icon, .item-list .search-Bar button.search-back {
  width: 45px;
  background-repeat: no-repeat !important;
  background-size: 50% 50% !important;
  background-position: center !important;
}

.item-list .search-Bar button.search-icon {
  background: url(../img/search-solid.svg);
}

.item-list .search-Bar button.search-back {
  border-right: 1px solid #ddd;
  background: url(../img/arrow-left-solid.svg);
}

.item-list .item-list-table {
  border-collapse: collapse;
  border-bottom: 1px solid #ddd;
  width: 100%;
}

.item-list .item-list-table tr {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  padding: 10px;
  margin: 10px;
}

.item-list .item-list-table tr:hover:not(.table-title) {
  background: #EEEEEE;
}

.item-list .item-list-table .categoryBtn {
  position: relative;
  width: 100%;
  text-transform: capitalize;
  border: none;
  outline: none;
  background: none;
  color: #333;
  text-align: left;
  padding: 8px 0;
  border-bottom: 2px solid transparent;
  font-size: 16px;
}

.item-list .item-list-table .categoryBtn:focus {
  border-bottom: 2px solid #43A047;
}

.item-list .item-list-table .categoryBtn::after {
  font-size: 8px;
  position: absolute;
  content: "\2b9f";
  top: 45%;
  right: 5px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.item-list .item-list-table th, .item-list .item-list-table td {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  border-collapse: collapse;
  border-bottom: 1px solid #ddd;
  text-align: left;
  padding: 10px;
  font-weight: 400;
}

.item-list .item-list-table th {
  cursor: pointer;
  font-size: 13px;
  color: #888;
}

.item-list .item-list-table td {
  text-transform: capitalize;
  color: #333;
  font-size: 16px;
}

.item-list .item-list-table .table-number-header-width {
  width: 120px;
}

.item-list .drpdwnElement {
  z-index: 999;
  display: none;
  position: absolute;
  background: #fff;
  -webkit-box-shadow: 0 0 5px #999;
          box-shadow: 0 0 5px #999;
}

.item-list .drpdwnElement .title {
  color: #666;
  background: #fff;
  font-size: 14px;
}

.item-list .drpdwnElement ul {
  padding: 0;
  list-style: none;
  margin: 0;
}

.item-list .drpdwnElement ul li {
  width: 100%;
  padding: 10px 20px;
}

.item-list .drpdwnElement ul li button {
  width: 100%;
  border: none;
  background: none;
  outline: none;
  color: #333333;
  font-weight: 500;
  text-align: left;
  text-transform: capitalize;
  padding: 8px 20px;
}

.item-list .pagination {
  position: relative;
  margin: 20px 0 0;
}

.item-list .pagination ul {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
}

.item-list .pagination ul li {
  display: inline;
  position: relative;
}

.item-list .pagination ul li button {
  outline: none;
  display: inline;
  position: relative;
  font-size: 30px;
  background: none;
  padding: 0px 25px;
  border-collapse: collapse;
  border: 1px solid #ddd;
  color: #555;
}

.item-list .pagination ul li button:first-child::after {
  content: "\2039";
  top: -2px;
  position: relative;
}

.item-list .pagination ul li button:last-child {
  margin-left: -5px;
}

.item-list .pagination ul li button:last-child::after {
  content: "\203A";
  position: relative;
  top: -2px;
}

.item-list .pagination ul li p {
  top: -5px;
  position: relative;
  display: inline;
  margin-left: 20px;
  padding: 0 10px 10px;
  color: #555;
  font-size: 14px;
}

.item-list .pagination ul li p input {
  width: 40px;
  height: 30px;
  margin: 2px 5px;
  font-size: 14px;
  color: #555;
  text-align: center;
  background-color: #FCFCFC;
  border: 1px solid #EAEAEA;
  border-radius: 2px;
}

.item-list .pagination ul li .rowPerPage {
  color: #555;
  position: relative;
  top: -5px;
  margin-left: 30px;
  font-size: 14px;
}

.item-list .pagination ul li .rowPerPage select {
  width: 70px;
  border: none;
  margin-left: 10px;
  padding: 5px 10px;
  font-size: 14px;
  border-bottom: 1px solid #bbb;
}

.import-items {
  width: 100%;
  -webkit-transition: all .3s;
  transition: all .3s;
  height: 100%;
  overflow: auto;
  width: calc(100% - 50px);
  float: right;
}

.import-items h3 {
  font-weight: 400;
  line-height: 26px;
  font-size: 24px;
  margin: 0;
}

.import-items p {
  font-size: 14px;
}

.import-items p a {
  color: #337ab7;
}

.import-buttons ul {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}

.import-buttons ul li {
  display: inline;
}

.import-buttons ul li:not(.help-btn) {
  float: right;
  margin: 0 5px;
}

.import-buttons ul button {
  border: none;
  background: none;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
}

@media only screen and (max-width: 1200px) {
  .item-list .cols-2 {
    -ms-grid-columns: (minmax(600px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  }
  .item-list .top-drops, ul {
    margin: 20px 0 0;
    padding: 0;
  }
  .item-list .top-drops li {
    float: left;
  }
}

@media only screen and (max-width: 768px) {
  .item-list .cols-2 {
    -ms-grid-columns: (minmax(400px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
  .sidebar {
    width: 0;
  }
  .dropbtn {
    text-indent: -9999em;
    padding: 10px 0;
    background-position: center 5px;
    width: 40px;
  }
  .main {
    width: 100%;
  }
  .main .container {
    margin: 50px 0;
  }
  .main .container ul {
    padding: 0;
    margin: 0;
  }
  .main .container .top-drops li {
    float: none;
  }
  .main .container .top-drops li select {
    width: 100%;
  }
  .main .container .top-drops li select option {
    text-transform: capitalize;
  }
}

@media only screen and (max-width: 768px) and (orientation: portrait) {
  .item-list .cols-2 {
    -ms-grid-columns: (minmax(450px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  }
  .item-list .cols-2 .addItem {
    display: block;
  }
}

@media only screen and (max-width: 576px) and (orientation: portrait) {
  .item-list .cols-2 {
    -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
/*# sourceMappingURL=style.css.map */