

*{
  box-sizing: border-box;
}
$main_color: #43A047;
$secondary_color: #76D275;
$active_color: #00701A;

html,body{
  font-family: Roboto, "Helvetica Neue", sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.show{
  width: 300px!important;
  transition: all .3s;
}
.sidebar{
  overflow-x: hidden;
  overflow-y: auto;
  transition: all .3s;
  top: 50px;
  height: calc(100vh - 50px);
  width: 50px;
  position: fixed;
  text-align: center;
  z-index: 9999;
  margin-left: 0px;
  background: linear-gradient($main_color, $secondary_color);
  float: left;
  ul{
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    li{
      width: 300px;
      text-align: left;
      display: block;
      img{
        width: 25px;
        height: 25px;
        margin: 11px;
      }
    }
    
    #menu{
      text-align: left;
      transition: all .3s;
      outline: none;
      width: 300px;
      height: 50px;
      margin: 0;
      padding: 10px;
      background: none;
      border: none;
      
    }
  }
  &::-webkit-scrollbar,&::-webkit-scrollbar-track{
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
  }
}



.accordion-container{
  position: relative;
  width: 300px;
  height: auto;
}
.set{
  position: relative;
  width: 100%;
  text-align: left;
  height: auto;
  img{
    width: 50px;
    padding: 10px;
  }
  span{
    width: 200px;
    position: absolute;
    margin: 18px 20px 0 20px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.5px;
  }
  a{
    display: block;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    -webkit-transition:all 0.2s linear;
    -moz-transition:all 0.2s linear;
    transition:all 0.2s linear;
    position: relative;
    i{
      position: absolute;
      top: 45%;
      right: 20px;
      transform: translateY(-50%);
    }
    .sort-down1::after {
      font-style: normal;
      content: '\25B4';
      color: white;
      font-weight: bold;
      float: right;
      margin-left: 5px;
    }

    .sort-up1::after{
      font-style: normal;
      content: "\25BE";
      color: #fff;
    }
  }
}
.active1{
  background: $active_color;
}
.title-onHover{
  position: absolute;
  z-index: 9999;
  display: none;
  background: $main_color;
  padding: 5px 10px;
  color: #fff;
  font-size: 12px;
  border-radius: 10px;
}

.content{
  background-color: #fff;
  display:none;
  a{
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: $main_color;
    padding: 8px 16px 8px 80px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    &:hover{
      background: #ddd;
    }
  }
}


.main{
  width: 100%;
  transition: all .3s;
  height: 100%;
  overflow: auto;
  width: calc(100% - 50px);
  float: left;
  .topnav{
    .menu-btn{
      width: 50px;
      height: 50px;
      left: 0;
      position: absolute;
      top: 0;
      button{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background: none;
        border: none;
        outline: none;
        cursor: pointer;
        width: 50px;
        height: 50px;
        background: url(../img/menu-btn.svg);
        background-size: 30px;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
    top: 0;
    padding: 6px;
    position: fixed;
    width: 100%;
    height: 50px;
    background: linear-gradient(to right, $main_color, $secondary_color);
    h2{
      margin: 0;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
      font-weight: bold;
    }
  }
}
.dropbtn {
  color: white;
  font-size: 16px;
  border: none;
  padding: 13px 0px 10px 40px;
  cursor: pointer;
  outline: none;
  background: url(../img/user.svg);
  background-size: 35px;
  background-position: 0px 5px;
  background-repeat: no-repeat;
  &::after{
    content: "\2B9F";
  }
}

.dropdown {
  top: 0;
  height: 100%;
  z-index: 99999;
  position: absolute;
  right: 15px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  overflow: auto;
  float: left;
  right: 0px;
  top: 52px;
  width: 150px;
  box-shadow: 0px 0px 10px #bbb;
  z-index: 1;
  button{
    height: 100%;
    width: 100%;
    padding: 15px;
    border: none;
    background: none;
    font-size: 16px;
  }
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown a:hover {background-color: #ddd;}
.show1 {display: block;}

// mixin media queries functions
@mixin mediaMaxWidthWithoutOrient($mediaMaxWidth) {
  @media only screen and (max-width: $mediaMaxWidth){
    @content;
  }
}
@mixin mediaMaxWidth($mediaMaxWidth, $orientation) {
  @media only screen and (max-width: $mediaMaxWidth) and (orientation: $orientation) {
    @content;
  }
}

@mixin mediaMinWidth($mediaMinWidth, $orientation) {
  @media only screen and (min-width: $mediaMinWidth) and (orientation: $orientation) {
    @content;
  }
}


@include mediaMaxWidthWithoutOrient(768px){
  .sidebar{
    width: 0;
  }
  .dropbtn{
    text-indent: -9999em;
    padding: 10px 0;
    background-position: center 5px;
    width: 40px;
  }
}